{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-3" >
            </div>
            <div class="col-6">
                <div class="">
                    <img  src="{% static 'images/favicon.png' %}"  >
                </div>
            </div>
            <div class="col-3">
            </div>


        </div>

    </div>
    <div class="centering" style="margin-top: 2%;">
        <form action="" method="post">{% csrf_token %}
            <input class="startgame" type="text" name="playname" size="60" placeholder="Enter Player name" required>
           
                <button class="button"
                style="margin: auto;
                width: 100%;"
                type="submit" class="btn ">
                Start Game</button>
            
        </form>
    </div>
   
{% endblock %}